@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Shippori+Mincho:wght@400;700&display=swap');

.page {
    color: white;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.progress {
    border: 2px solid rgb(228, 189, 189);
    width: fit-content;
    padding-right: 350px;
    padding-left: 30px;
    border-radius : 10px;
}

.cardContainer {
    flex-direction: column;    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 900px;
    height: 600px;
    padding: 20px;

    margin: 30px;
    padding: 20px 60px;

    border: 2px solid rgb(43, 40, 56);
    border-radius: 20px;
    background-color: rgb(27, 25, 36);
}

.cardType { 
    background-color: rgba(255, 93, 143, 0.15);

    border-radius : 40px;
    width: fit-content;
    margin-bottom: auto; 

    color: rgb(255, 93, 143);
    font-size: 30px;
    font-weight: 800;

    padding: 3px 20px;

}

.buttons {
    display:flex;
    gap: 60px;
    
}

.backButton {
    color: rgb(43, 40, 56);
    cursor: pointer;
    padding: 10px 30px;
    border: 2px solid rgb(43, 40, 56);
    border-radius: 30px;
    background-color: rgb(160, 145, 230);
    transition: all .15s ease; 

}

.backButton:hover {
    filter: brightness(1.12) saturate(1.1);
    transform: translateY(-2px) scale(1.02);
}


.nextButton {
    cursor: pointer;
    color: rgb(43, 40, 56);
    padding: 10px 30px;
    border: 2px solid rgb(43, 40, 56);
    border-radius: 30px;
    background-color: rgb(143, 225, 67);

    transition: all .15s ease; 

}

.nextButton:hover {
    filter: brightness(1.12) saturate(1.1);
    transform: translateY(-2px) scale(1.02);
}

.finButton {

    cursor: pointer;
    color: rgb(208, 206, 216);
    padding: 10px 30px;
    border: 2px solid rgb(43, 40, 56);
    border-radius: 30px;
    background-color: rgb(124, 34, 102);

    transition: all .15s ease; 
}

.finButton:hover {
    filter: brightness(1.12) saturate(1.1);
    transform: translateY(-2px) scale(1.02);
}

.kanjiContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kanjiCharacter {
    padding: 0px;
    font-size: 200px;
    color: rgb(255, 93, 143);

    line-height: 1.2;
}

.kanjiDisplay {
    display: flex;
    flex-direction: row;
    align-self: stretch;

    margin: 10px 30px;
    border: 2px solid rgb(43, 40, 56);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(27, 25, 36);
    width: 100%;
}

.displayBox {
    align-items: flex-start;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 12px 16px;
    
}

.displayBox:not(:last-child) {
    border: 2px solid rgb(43, 40, 56);
}

.displayLabel {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgb(160, 140, 140);
}

.displayValue {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-style: bold;
    font-weight: 800;
    color: white;
    margin-top: -12px;
    
}