.body {
    flex-direction: column;    
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 1200px;
    height: 800px;

    margin-top: 10px;
    padding: 10px 0px;

    border: 2px solid rgb(43, 40, 56);
    border-radius: 20px;
    background-color: rgb(27, 25, 36);
}

.prompt {
    font-size: 40px;
    color: grey;
    font-weight: 800;
}

.dashboardButton {
    color: white;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: lightblue;
    cursor: pointer;
    transition: all .15s ease; 
    margin-top: auto;
    margin-bottom: 75px;
    font-size: 40px;
    padding: 20px;
}

.dashboardButton:hover {
    filter: brightness(1.12) saturate(1.1);
    transform: translateY(-2px) scale(1.02);
}
