.page {
    background-color: rgb(16, 15, 22);    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.stage {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: fit-content;
    padding-right: 20px;
}

.headerIcon {  
    line-height: 1;
    margin: 0 0 0 30px;
    width: fit-content;
    border: 2px solid rgb(43, 40, 56);
    padding: 4px 4px 4px 4px;
    border-radius : 10px;
    font-size: 40px;
    background-image: linear-gradient(to bottom right, rgb(133, 62, 62), rgb(96, 96, 17));
    margin-left: 30px;
    color: white;
}

.headerText {
    font-family: "Zen Kaku Gothic New", sans-serif;    
    font-weight: 900;

    margin-top: 5px;
    margin-left: 20px;
    color: rgba(225, 213, 188, 0.901);
    font-size: 26px;
}

.headerStatus {
    margin-left: 20px;
    padding: 4px 4px 4px 4px;
    color: rgba(255, 255, 255, 0.672);
    font-size: 20px;
}

