.body {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;


    background-color: rgb(16, 15, 22);    
    color: white;
}

.page {
    color: white;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.cardCount {
    margin-bottom: -20px;
}

.progress {
    border: 2px solid rgb(228, 189, 189);
    width: fit-content;
    padding-right: 350px;
    padding-left: 30px;
    border-radius : 10px;
}

.cardContainer {
    flex-direction: column;    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1200px;
    height: 660px;
    padding: 20px;

    margin: 30px;
    padding: 20px 60px;

    border: 2px solid rgb(43, 40, 56);
    border-radius: 20px;
    background-color: rgb(27, 25, 36);
}

.cardType { 
    background-color: rgba(255, 93, 143, 0.15);

    border-radius : 40px;
    width: fit-content;
    margin-bottom: auto; 

    color: rgb(255, 93, 143);
    font-size: 30px;
    font-weight: 800;

    padding: 3px 20px;
}

.card {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputPrompt {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 500;
    color: lightgrey;
}

.inputType {
    font-size: 30px;

    color: grey;
}


.vocab {
    padding: 0px;
    font-size: 200px;
    color: rgb(255, 93, 143);

    line-height: 1.2;
    margin-bottom: auto;

}

.wrongButton {
    border: 2px solid rgb(228, 189, 189);
    border-radius : 10px;
    color: white;
    background-color: rgb(205, 55, 55);
}

.correctButton {
    border: 2px solid rgb(228, 189, 189);
    border-radius : 10px;
    color: white;
    background-color: rgb(125, 228, 77);
}

.inputContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input {
    border: 2px solid rgb(228, 189, 189);
    border-radius : 10px; 
    padding: 10px 20px;
    font-size: 25px;
}

.submitButton {
    border: 2px solid rgba(223, 149, 149, 0.036);
    border-radius : 10px; 
    padding: 0px 15px;
    color: rgb(21, 18, 29);
    background-color: rgb(255, 93, 143);

    font-size: 25px;
    transition: all .15s ease; 
}   

.submitButton:hover {
    cursor: pointer;
    filter: brightness(1.12) saturate(1.1);
    transform: translateY(-2px) scale(1.02);
}

.input.waiting {}

.input.correct {
    border-color: rgb(9, 168, 9);
    background-color: rgb(18, 48, 18);
}

.input.incorrect {
    border-color:rgba(255, 0, 0, 0.808);
    background-color: rgba(68, 18, 18, 0.539);
}

.divider {
    border-top: 1px solid rgb(43, 40, 56);

    padding: 0px 400px;
    margin: 20px 0px;
}

.review {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.correctPrompt {
    color: rgb(9, 168, 9);
    font-size: 30px;
    font-weight: 500;
}

.incorrectPrompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    font-size: 30px;
    font-weight: 500;
}

.nextButton {
    border: 2px solid white;
    border-radius: 30px;

    padding: 0px 20px;

    background-color: white;
    color: grey;
    font-size: 20px; 
    font-weight: 500px;

    transition: all .15s ease; 
}

.nextButton:hover {
    filter: brightness(1.12) saturate(1.1);
    transform: translateY(-2px) scale(1.02);
    cursor: pointer;
}

.finishedPrompt {
    font-size: 30px;
    color: rgb(138, 126, 126);

    font-weight: 500;


    margin-top: 45px;
}

.dashButton {
    padding: 8px 20px;
    font-size: 40px;
    color: rgb(138, 126, 126);
    font-weight: 500;

    border: 2px solid #9b875f;
    border-radius: 10px;

    margin-top: 75px;
}

.dashButton:hover {
    padding: 8px 20px 8px 20px;
    transition: all .15s ease; 
    filter: brightness(1.12) saturate(1.1);
    transform: translateY(-2px) scale(1.02);

    border-radius: 20px;

    background: #9b875f;           /* --border: the solid bg that appears */
    color: #f6f4f1; 
}