.card{
  border: 5px solid hsl(292, 42%, 29%);
  border-radius: 10px;
  box-shadow:5px 5px 5px hsla(320, 86%, 20%, 0.201);
  padding: 10px;
  margin: 100px;
  text-align: center;
  max-width: 400px;
}

.card .cardImage {
  border: 5px solid hsl(292, 42%, 29%);
  border-radius: 1000px;
  box-shadow: 5px 5px 1px hsla(320, 86%, 20%, 0.201);
  text-align: right;
}

.card .cardTitle {
  cursor:wait;
  font-size: 60;
} 